html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

section {
  margin: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1330px;
  padding: 0px 15px;
  margin: 0 auto;
}

.section__wrapper {
  border-bottom: 2px solid #BDBDBD;
  padding-bottom: 41px;
}

.header-top {
  text-align: center;
  padding: 16px 0;
  background-color: #000;
}

.header-top__link {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.header-content {
  background-color: #996b60;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

.menu {
  padding: 25px 0 31px;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-link {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.header-info {
  padding-top: 180px;
  padding-bottom: 100px;
}

.header-info__content {
  max-width: 650px;
  margin-left: auto;
  padding-left: 60px;
}

.header-info__title {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 73px;
  line-height: 96px;
  color: #ffffff;
  margin-bottom: 34px;
}

.header-info__text {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 46px;
}

.header-info__link {
  padding: 18px 52px 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
}

.info {
  padding: 55px 0px 0px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__item {
  width: 330px;
  padding: 4px 21px 0 21px;
  text-align: center;
}

.info__item-text {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 36px;
}

.ingredient {
  padding-top: 104px;
  text-align: center;
}

.ingredient__title {
  max-width: 699px;
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  margin: 0 auto 24px;
}

.ingredient__link {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 82px;
  display: inline-block;
}

.ingredient__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.ingredient__card {
  width: 382px;
}

.ingredient__card-box {
  position: relative;
}

.ingredient__card--link--active {
  display: block;
  width: 100px;
  height: 100px;
  background: #191919;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 23px;
  right: 19px;
}

.ingredient__card-info {
  padding-top: 19px;
}

.ingredient__card-link {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000;
  margin-bottom: 16px;
  display: inline-block;
}

.ingredient__card-text {
  font-size: 16px;
  line-height: 28px;
  color: #000;
  margin-bottom: 27px;
}

.ingredient__card-shop {
  padding: 18px 48px 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #000;
}

.intro {
  padding-top: 60px;
}

.intro__article-link {
  display: inline-block;
  margin-bottom: 55px;
}

.intro__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__info-link {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 53px;
  line-height: 80px;
  color: #000;
}

.intro__info-text {
  max-width: 548px;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.drink {
  padding-top: 60px;
}

.drink__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 55px;
          column-gap: 55px;
}

.drink__info {
  margin-top: auto;
}

.drink__item {
  margin-bottom: 25px;
}

.drink__item:last-child {
  margin-bottom: 0;
}

.drink__item-text {
  font-size: 18px;
  line-height: 32px;
  color: #000;
  margin-top: 19px;
}

.drink__item-link {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #000;
}

.drink__item-title {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.drink__item-title span {
  display: block;
}

.review {
  background-color: #000;
  padding: 50px 0;
}

.review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.review__card {
  width: 34%;
  padding: 46px 15px 104px;
  text-align: center;
}

.review__card-text {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}

.review__card-subtitle {
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.review__card-name {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #8a8a8a;
}

.differently {
  padding: 60px 0;
}

.differently__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 110px;
          column-gap: 110px;
}

.differently__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.differently__info-title {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #000;
}

.differently__info-text {
  margin-top: auto;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.differently__info-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
  margin-top: 35px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

.feedback {
  padding: 60px 0;
  background-image: url("../img/feedback-bg.jpg");
}

.feedback__content {
  max-width: 550px;
  color: #fff;
}

.feedback__info {
  background-color: #000;
  padding: 40px 69px 40px;
  text-align: center;
  margin-bottom: 22px;
}

.feedback__info-title {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 80px;
  margin-bottom: 9px;
}

.feedback__info-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 26px;
}

.feedback__info-link {
  padding: 18px 63px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
}

.feedback__social-network {
  text-align: center;
  background-color: #000;
  padding: 28px 0 25px;
}

.feedback__social-network-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
}

.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__list-item + .feedback__list-item {
  margin-left: 25px;
}

.feedback__list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  background-color: #000;
  padding: 45px 0 40px;
}

.footer-top {
  padding-bottom: 125px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__info {
  width: 439px;
  padding-bottom: 20px;
  margin-right: auto;
}

.footer-top__info-title {
  font-family: "Liberation Serif", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 72px;
  color: #fff;
  margin-bottom: 12px;
}

.footer-top__info-text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 14px;
}

.footer-top__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #8a8a8a;
}

.footer-top__form-input {
  padding: 18px 10px 20px 9px;
  border: none;
  background-color: transparent;
  width: 100%;
  color: #fff;
}

.footer-top__form-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #818181;
}

.footer-top__form-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #818181;
}

.footer-top__form-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #818181;
}

.footer-top__form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #818181;
}

.footer-top__form-btn {
  padding: 18px 0 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: transparent;
}

.footer-top__content {
  width: 218px;
  padding-top: 10px;
}

.footer-top__content-title {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-top__list-item {
  margin-bottom: 21px;
}

.footer-top__list-item:last-child {
  margin-bottom: 0;
}

.footer-top__list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.footer-bottom {
  padding: 1px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer-bottom__span {
  font-size: 15px;
  line-height: 24px;
  margin-right: 60px;
}

.footer-bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.footer-bottom__info-item {
  margin-right: 60px;
}

.footer-bottom__info-link {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: purple;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
    padding: 20px 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }
  .menu .menu__list--btn {
    -webkit-transform: inherit;
            transform: inherit;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    opacity: 0.9;
    background-color: currentcolor;
  }
  .menu__list-item--logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__btn {
    display: block;
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .header-content {
    background-position-x: center;
    background-position-y: inherit;
    padding-bottom: 20px;
    background-size: cover;
  }
  .header-info {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-info__content {
    padding-left: 0px;
    width: 100%;
    margin-left: 0;
  }
  .header-info__title {
    font-size: 46px;
    line-height: 71px;
    color: #fff;
    margin-bottom: 12px;
  }
  .header-info__link {
    background-color: violet;
    border: none;
    color: #fff;
  }
  .ingredient {
    padding: 25px 0px;
  }
  .ingredient__title {
    font-size: 49px;
    line-height: 67px;
    text-align: left;
  }
  .ingredient__link {
    margin-bottom: 50px;
  }
  .ingredient__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .ingredient__card {
    margin: 0 auto;
  }
  .intro__info-link {
    font-size: 44px;
    line-height: 58px;
  }
  .intro__info-text {
    max-width: 478px;
    font-size: 18px;
    line-height: 32px;
    color: #000;
  }
  .drink {
    padding-top: 30px;
  }
  .drink__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .drink__inner-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .review {
    padding: 25px 0;
  }
  .review__card {
    padding: 40px 15px 50px;
  }
  .differently {
    padding: 50px 0;
  }
  .differently__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .differently__info-title {
    font-size: 38px;
    line-height: 62px;
    margin-bottom: 15px;
  }
  .differently__info-text {
    font-size: 17px;
  }
  .footer-top {
    padding-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 25px;
  }
  .footer-top__content {
    margin: 0 auto;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 15px;
    text-align: center;
  }
  .footer-bottom__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .footer-bottom__info-item {
    margin-right: 0;
  }
  .footer-bottom__span {
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: purple;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
    padding: 20px 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }
  .menu .menu__list--btn {
    -webkit-transform: inherit;
            transform: inherit;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    opacity: 0.9;
    background-color: currentcolor;
  }
  .menu__list-item--logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__btn {
    display: block;
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .header-content {
    background-position-x: center;
    background-position-y: inherit;
    padding-bottom: 20px;
  }
  .header-info {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-info__content {
    padding-left: 0px;
    width: 100%;
  }
  .header-info__title {
    font-size: 46px;
    line-height: 71px;
    color: #fff;
    margin-bottom: 12px;
  }
  .header-info__link {
    background-color: violet;
    border: none;
    color: #fff;
  }
  .info {
    padding: 20px 0px;
  }
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__item {
    width: 100%;
  }
  .info__item-text {
    margin-bottom: 25px;
  }
  .ingredient {
    padding: 25px 0px;
  }
  .ingredient__title {
    font-size: 49px;
    line-height: 67px;
    text-align: left;
  }
  .ingredient__link {
    margin-bottom: 50px;
  }
  .ingredient__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .ingredient__card {
    width: 100%;
  }
  .ingredient__card--link--active {
    top: 0px;
    right: 15px;
    width: 80px;
    height: 80px;
  }
  .intro {
    padding-top: 25px;
  }
  .intro__article-link {
    margin-bottom: 35px;
  }
  .intro__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drink {
    padding-top: 30px;
  }
  .drink__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .drink__inner-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .review {
    padding: 25px 0;
  }
  .review__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review__card {
    width: 100%;
    padding: 25px 15px 25px;
  }
  .differently {
    padding: 50px 0;
  }
  .differently__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .differently__info-title {
    font-size: 38px;
    line-height: 62px;
    margin-bottom: 15px;
  }
  .differently__info-text {
    font-size: 17px;
  }
  .feedback {
    padding: 45px 0;
    background-position-x: center;
  }
  .feedback__info {
    padding: 25px 0px 25px;
  }
  .feedback__info-title {
    font-size: 40px;
  }
  .feedback__info-text {
    font-size: 15px;
  }
  .feedback__info-link {
    display: inline-block;
  }
  .footer {
    padding: 35px 0 30px;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 50px;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
  .footer-bottom__info {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }
  .footer-bottom__info-item {
    margin-right: 20px;
  }
  .footer-bottom__span {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: purple;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
    padding: 20px 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }
  .menu .menu__list--btn {
    -webkit-transform: inherit;
            transform: inherit;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    opacity: 0.9;
    background-color: currentcolor;
    height: 100vh;
  }
  .menu__list-item--logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__btn {
    display: block;
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .header-content {
    background-position-x: center;
    background-position-y: inherit;
    padding-bottom: 20px;
  }
  .header-info {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-info__content {
    padding-left: 0px;
    width: 100%;
  }
  .header-info__title {
    font-size: 46px;
    line-height: 71px;
    color: #fff;
    margin-bottom: 12px;
  }
  .header-info__link {
    background-color: violet;
    border: none;
    color: #fff;
  }
  .info {
    padding: 20px 0px;
  }
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__item {
    width: 100%;
  }
  .info__item-text {
    margin-bottom: 25px;
  }
  .ingredient {
    padding: 25px 0px;
  }
  .ingredient__title {
    font-size: 49px;
    line-height: 67px;
    text-align: left;
  }
  .ingredient__link {
    margin-bottom: 50px;
  }
  .ingredient__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .ingredient__card {
    width: 100%;
  }
  .ingredient__card--link--active {
    top: 0px;
    right: 15px;
    width: 80px;
    height: 80px;
  }
  .intro {
    padding-top: 25px;
  }
  .intro__article-link {
    margin-bottom: 35px;
  }
  .intro__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drink {
    padding-top: 30px;
  }
  .drink__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .drink__inner-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .review {
    padding: 25px 0;
  }
  .review__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review__card {
    width: 100%;
    padding: 25px 15px 25px;
  }
  .differently {
    padding: 50px 0;
  }
  .differently__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .differently__info-title {
    font-size: 38px;
    line-height: 62px;
    margin-bottom: 15px;
  }
  .differently__info-text {
    font-size: 17px;
  }
  .feedback {
    padding: 45px 0;
    background-position-x: center;
  }
  .feedback__info {
    padding: 25px 0px 25px;
  }
  .feedback__info-title {
    font-size: 40px;
  }
  .feedback__info-text {
    font-size: 15px;
  }
  .feedback__info-link {
    display: inline-block;
  }
  .footer {
    padding: 35px 0 30px;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 50px;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 10px;
  }
  .footer-bottom__info {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }
  .footer-bottom__info-item {
    margin-right: 20px;
  }
  .footer-bottom__span {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */