body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1330px;
  padding: 0px 15px;
  margin: 0 auto;
}
.section__wrapper{
  border-bottom: 2px solid #BDBDBD;
  padding-bottom: 41px;
}